<%= content_for :title, 'Obrigado'  %>

<%= content_for :banner do %>
  <h1><b>Obrigado</b> por se inscrever</h1>
  <div class="content">
    <p class="lead">Você receberá notificações de plantões com suas preferências em breve.</p>
    <p>Enquanto isso, ajude seus amigos compartilhando o <%= link_to 'Quero Plantão', root_url %></p>
  </div>
<% end %>
