<h1>Plantões esperando médicos
<%= link_to 'Anuncie um plantão', new_plantao_path, class: "btn btn-large btn-primary" %>
</h1>
<table class="table table-striped">
  <%= render @plantoes %>
</table>
<br />

<br />
<br />
<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>
