<h1>Plantões esperando médicos</h1>

<%= render @plantoes %>
<br />

<%= link_to 'Anuncie', new_plantao_path %>
<br />
<br />
<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>
