<% if @plantoes.empty? %>
  <h1>Nenhum plantão em aberto.</h1>
<% else %>
  <h1>Plantões esperando médicos</h1>
  <table class="table table-striped">
    <%= render @plantoes %>
  </table>
<% end %>
<!--
<p>Curta <a href="http://www.facebook.com/QueroPlantao">nossa página no facebook</a>, e receba notificações de plantões assim que eles forem anunciados.</p>
-->
<%= content_for :javascript do %>
  <script type="text/javascript">
    var options = {
      'title': 'Dados para contato',
      'trigger': 'click'
    };
    $('.contact.phone').popover(options);

    //FIXME só mandar o evento quando abrir.
    //      Dar um jeito de usar um callback no popover
    //      Ou, trocar o popover.
    $('.contact.phone').on('click', function (event) {
        var $contactPhone = $(event.currentTarget);
        var urlPhone = '/plantoes/'+ $contactPhone.data('id') +'/telefone';
        _gaq.push(['_trackPageview', urlPhone]);
    });
</script>
<% end %>
