<div class="card">
  <h1>Escolha que tipo de plantão você deseja fazer</h1>
  <p class="lead">Escolha suas preferências de plantões e receba no celular apenas vagas que lhe interessa.</p>
  <div class="fb-login-button" data-show-faces="true" data-max-rows="1" data-size="medium">Entrar no Quero Plantão</div>
</div>
