<h1>Plantões esperando médicos</h1>

<ul>
  <% @plantoes.each do |plantao| %>
    <li>
      <%= "#{plantao.where}, #{l plantao.when, :format => :short}. R$#{plantao.how_much}. #{plantao.how_long}h. #{plantao.specialty}. Dúvidas: #{plantao.contactName}, telefone: #{plantao.contactPhone}. #{plantao.obs}. " %>
    </li>
  <% end %>
</ul>
<br />

<%= link_to 'Anuncie', new_plantao_path %>
