<% content_for :title, 'Detalhes do plantão' %>
<p id="notice"><%= notice %></p>
<% if notice %>
  <% content_for :javascript do %>
    <script type="text/javascript">
      /*
      $(document).live("facebook:ready", function() {
          FACEBOOK.login();
      });
      $(document).live("facebook:logged", function() {
          FACEBOOK.sendRequestToRecipients('<%= plantao_url @plantao %>');
          });
       */
    </script>
  <% end %>
<% end %>

<%= render @plantao%>

<%= link_to 'Voltar para os anúncios', plantoes_path %>
